html {
  min-height: 100%;
}

.text-danger {
  color: red;
  font-size: 14px;
  margin-left: 5px;
}
.App {
  h3 {
    text-align: center;
  }

  header {
    background-color: black;
    padding: 15px;
  }

  .MuiContainer-root {
    margin-top: 20px;
  }

  form {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .input-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      flex-wrap: wrap;

      .MuiFormControl-root {
        flex: 1;
      }
      .MuiButtonBase-root {
        margin-block: 10px;
      }
    }
  }
}